@import 'styles/theme/theme.scss';

.selecciones-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    p{
        font-weight: 600;
        font-size: 1rem;
        text-align: center;
        width: 100%;
        margin-top: 30px;
    }
    .seleccion{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        thead{
            width: 90%;
            border-bottom: 2px solid $color1;
            tr{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            th:nth-child(1){
                width: 70%;
            }
            th:nth-child(3){
                opacity: 0;
            }
        }
        .item{
            display: flex;
            flex-direction: row;
            width: 90%;
            align-items: center;
            justify-content: space-between;
            padding: 3px;
            border-bottom: 1px solid #ccc;
            font-size: 0.9rem;
            margin-bottom: 5px;
            td:nth-child(1){
                width: 75%;
            }
             svg{
                 font-size:20px;
                 cursor: pointer;
             }
        }
    }

    .seleccion-conex{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        p{
            font-weight: 600;
        }
        thead{
            width: 90%;
            border-bottom: 2px solid $color1;
            tr{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
        
        .item-conex{
            display: flex;
            width: 90%;
            align-items: center;
            justify-content: space-between;
            padding: 3px;
            border-bottom: 1px solid #ccc;
            font-size: 0.9rem;
            margin-bottom: 5px;
            p{
                margin-right: 0px;
            }
            svg{
                font-size: 1.3rem;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 568px){
    .selecciones-container{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .seleccion{
            font-size: 00.85rem;
        }
    
        .seleccion-conex{
            font-size: 0.85rem;
        }
    } 
}

@media only screen and (min-width: 569px)and (max-width: 768px){
    .selecciones-container{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .seleccion{
            font-size: 00.85rem;
        }
    
        .seleccion-conex{
            font-size: 0.85rem;
        }
    } 
}

@media only screen and (min-width: 769px)and (max-width: 1280px){
    .selecciones-container{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .seleccion{
            font-size: 00.85rem;
        }
        .seleccion-conex{
            font-size: 0.9rem;
        }
    } 
}
