@import 'styles/theme/theme.scss';

.modal-mediatension{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
    .opciones{
        display: none;
        flex-direction: column;
        top: 50px;
        width: 270px;
        height: 300px;
        overflow: scroll;
        position: absolute;
        background-color: $white;
        border: 2px solid $color1;
        overflow-x: hidden;
        box-shadow: 8px 10px 17px #bebebe;
        button{
            background-color: $color1;
            border: none;
            color: $white;
            border-radius: 6px;
            padding: 4px;
            margin: 5px;
            cursor: pointer;
            transition: .3s ease-in all;
            font-size: 12px;
        }
        .mediatension{
            display: flex;
            width: 90%;
            align-items: center;
            margin: 5px;
            margin-right: 10px;
            justify-content: space-between;
            p{
                font-size: 12px;
                margin: 0;
            }
            div{
                display: flex;
                align-items: center;
                margin-left: 10px;
                input{
                    width: 25px;
                    height: 25px;
                    border-radius: 10px;
                    border: 1px solid $color1;
                }
            } 
        }

    }
    .on{
        display: flex;
        z-index: 10;
    }
}

@media only screen and (max-width: 420px){
    .modal-mediatension{
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    .opciones{
        top: 40px;
        width: 75%;
        height: 240px;
        box-shadow: 8px 10px 15px #bebebe;
        flex-direction: column;
        button{
            width: 80%;
        }
        .mediatension{
            display: flex;
            width: 90%;
            align-items: center;
            margin: 5px;
            margin-right: 10px;
            justify-content: space-between;
            p{
                font-size: 0.7rem;
                margin: 0;
            }
            label{
                font-size: 0.7rem;
            }
            div{
                display: flex;
                align-items: center;
                margin-left: 10px;
                input{
                    width: 25px;
                    height: 25px;
                    border-radius: 10px;
                    border: 1px solid $color1;
                }
            } 
        }

    }
    .on{
        display: flex;
        align-items: center;
    }
}
}

@media only screen and (min-width: 421px)and (max-width: 600px){
    .modal-mediatension{
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    .opciones{
        top: 45px;
        width: 85%;
        height: 240px;
        box-shadow: 8px 10px 15px #bebebe;
        flex-direction: column;
        button{
            width: 80%;
        }
        .mediatension{
            display: flex;
            width: 90%;
            align-items: center;
            margin: 5px;
            margin-right: 10px;
            justify-content: space-between;
            p{
                font-size: 11px;
                margin-left: 5px;
            }
            label{
                font-size: 11px;
            }
            div{
                display: flex;
                align-items: center;
                margin-left: 10px;
                input{
                    width: 25px;
                    height: 25px;
                    border-radius: 5px;
                    border: 1px solid $color1;
                }
            } 
        }

    }
    .on{
        display: flex;
        align-items: center;
    }
}
}

@media only screen and (min-width: 601px)and (max-width: 800px){
    .modal-mediatension{
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
    .opciones{
        top: 45px;
        width: 90%;
        height: 240px;
        box-shadow: 8px 10px 15px #bebebe;
        flex-direction: column;
        button{
            width: 80%;
        }
        .mediatension{
            display: flex;
            width: 90%;
            align-items: center;
            margin: 5px;
            margin-right: 10px;
            justify-content: space-between;
            p{
                font-size: 11px;
                margin-left: 5px;
            }
            label{
                font-size: 11px;
            }
            div{
                display: flex;
                align-items: center;
                margin-left: 10px;
                input{
                    width: 25px;
                    height: 25px;
                    border-radius: 5px;
                    border: 1px solid $color1;
                }
            } 
        }

    }
    .on{
        display: flex;
        align-items: center;
    }
}
}
@media only screen and (min-width: 801px)and (max-width: 1024px){
    .modal-mediatension{
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
    .opciones{
        top: 32px;
        width: 228px;
        height: 240px;
        box-shadow: 8px 10px 15px #bebebe;
        flex-direction: column;
        button{
            width: 70%;
        }
        .mediatension{
            display: flex;
            width: 90%;
            align-items: center;
            margin: 5px;
            margin-right: 10px;
            justify-content: space-between;
            p{
                font-size: 11px;
                margin-left: 0px;
            }
            label{
                font-size: 11px;
            }
            div{
                display: flex;
                align-items: center;
                margin-left: 10px;
                input{
                    width: 25px;
                    height: 25px;
                    border-radius: 5px;
                    border: 1px solid $color1;
                }
            } 
        }

    }
    .on{
        display: flex;
        align-items: center;
    }
}
}
@media only screen and (min-width: 1025px)and (max-width: 1280px){
    .modal-mediatension{
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
    .opciones{
        top: 35px;
        width: 240px;
        height: 240px;
        box-shadow: 8px 10px 15px #bebebe;
        flex-direction: column;
        button{
            width: 70%;
        }
        .mediatension{
            display: flex;
            width: 90%;
            align-items: center;
            margin: 5px;
            margin-right: 10px;
            justify-content: space-between;
            p{
                font-size: 11px;
                margin-left: 0px;
            }
            label{
                font-size: 11px;
            }
            div{
                display: flex;
                align-items: center;
                margin-left: 10px;
                input{
                    width: 25px;
                    height: 25px;
                    border-radius: 5px;
                    border: 1px solid $color1;
                }
            } 
        }

    }
    .on{
        display: flex;
        align-items: center;
    }
}
}