@import 'styles/theme/theme.scss';
.modal-eleccion-acc{
    display: flex;
    margin-top: 25px;
    width: 100%;
    align-items: center;

    .acc-container{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-bottom: 25px;
    }
    .acc-selecc-container{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .modelo-acc{
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 5px;
        font-weight: 600;
        border-radius: 10px;
        position: relative;
        .encabezado-acc{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: 2px solid $color1;
            border-radius: 5px;
            margin-right: 5px;
            width: 280px;
            p{
                margin-left: 3px;
                font-size: 14px;
                font-weight: 600;
            }
            svg{
                font-size: 1.5rem;
            }
        }
        .opciones-accesorios{
            display: none;
            top: 85px;
            width: 285px;
            height: 85px;
            box-shadow: 8px 10px 7px #bebebe;
            overflow: scroll;
            position: absolute;
            background-color: $white;
            border: 2px solid $color1;
            overflow-x: hidden;
            select{
                margin: 0;
                padding: 3px;
                font-size: 12px;
                border-radius: 6px;
                border: 2px solid $color1;
            }
            input{
                width: 50px;
                font-size: 12px;
                border-radius: 6px;
                border: 2px solid $color1;
                padding: 4px;
            }
            svg{
                cursor: pointer;
            }
            div{
                width: 30%;
                display: flex;
                flex-direction: column;
                p{
                    margin: 0;
                    font-size: 14px;
                }
            }

            button{
                border-radius: 5px;
                border: none;
                background-color: transparent;
                color: $color1;
                font-size: 18px;
            }
        }
        .on{
            display: flex;
            justify-content: space-around;
            align-items: center;
            z-index: 10;
        }
        img{
            width: 80px;
            height: 80px;
            cursor: default;
            object-fit: scale-down;
        }
    }
    .acc-btn-comprar{
        background-color: $color1;
        color: $white;
        border: none;
        padding: 8px;
        border-radius: 10px;
        font-size: 14px;
        cursor: pointer;
        transition: .2s ease-in all;
        margin-bottom: 15px;
    }
    .acc-btn-comprar:hover{
        padding:8px 5px;
    }
    .notificacion{
        display: none;
    }
    .noti-on{
        display: flex;
        position: absolute;
        bottom: 0;
        background-color: $color2;
        padding: 0 15px;
        right: 10px;
        border-radius: 10px;
        animation: noti 1s ease-in-out;
        font-size: 12px;
        color: $black;
    }
}

@keyframes noti {
    0%{
        opacity: 0;
        bottom: 60px;
    }
    100%{
        opacity: 1;
        bottom: 0px;
    }
}


@media only screen and (max-width: 420px){
    .modal-eleccion-acc{
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
        width: 80%;
        .acc-container{
            width: 100%;
            margin-bottom: 15px;
        }
        .acc-selecc-container{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .modelo-acc{
            .encabezado-acc{
                margin-right: 0px;
                width: 100%;
                img{
                    width: 60px;
                }
                p{
                    font-size: 12px;
                }
                svg{
                    font-size: 22px;
                }
            }
            .opciones-accesorios{
                top: 75px;
                width: 100%;
                height: 115px;
                box-shadow: 8px 10px 12px #bebebe;
                flex-direction: column;
                select{
                    font-size: 11px;
                    border-radius: 4px;
                    margin-top: 5px;
                    width: 80%;
                }
                input{
                    width: 80px;
                    font-size: 12px;
                    padding: 2px;
                }
                div{
                    width: 80%;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: space-between;
                    p{
                        margin: 0;
                        font-size: 12px;
                    }
                }
                button{
                    font-size: 20px;
                }
            }
            .on{
                display: flex;
                z-index: 10;
            }
        }
        .acc-btn-comprar{
            background-color: $color1;
            color: $white;
            border: none;
            padding: 8px;
            border-radius: 10px;
            font-size: 14px;
            cursor: pointer;
            transition: .2s ease-in all;
            margin-bottom: 15px;
        }
        .acc-btn-comprar:hover{
            padding:8px 5px;
        }
        .notificacion{
            display: none;
        }
        .noti-on{
            display: flex;
            position: absolute;
            bottom: 0;
            background-color: $color2;
            padding: 0 15px;
            right: 10px;
            border-radius: 10px;
            animation: noti 1s ease-in-out;
            font-size: 12px;
            color: $black;
        }
    }
}

@media only screen and (min-width: 421px)and (max-width: 600px){
    .modal-eleccion-acc{
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
        width: 85%;
        .acc-container{
            width: 100%;
            margin-bottom: 15px;
        }
        .acc-selecc-container{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .modelo-acc{
            .encabezado-acc{
                margin-right: 0px;
                width: 100%;
                img{
                    width: 65px;
                    height: 55px;
                }
                p{
                    font-size: 13px;
                }
                svg{
                    font-size: 22px;
                }
            }
            .opciones-accesorios{
                top: 88px;
                width: 99%;
                height: 115px;
                box-shadow: 8px 10px 17px #bebebe;
                flex-direction: column;
                select{
                    font-size: 11px;
                    border-radius: 4px;
                    margin-top: 5px;
                    width: 80%;
                }
                input{
                    width: 80px;
                    font-size: 12px;
                    padding: 2px;
                }
                div{
                    width: 80%;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: space-between;
                    p{
                        margin: 0;
                        font-size: 12px;
                    }
                }
                button{
                    font-size: 20px;
                }
            }
            .on{
                display: flex;
                z-index: 10;
            }
        }
        .acc-btn-comprar{
            background-color: $color1;
            color: $white;
            border: none;
            padding: 6px;
            border-radius: 8px;
            font-size: 14px;
            cursor: pointer;
            transition: .2s ease-in all;
            margin-bottom: 15px;
        }
        .acc-btn-comprar:hover{
            padding:6px 5px;
        }
        .notificacion{
            display: none;
        }
        .noti-on{
            display: flex;
            position: absolute;
            bottom: 0;
            background-color: $color2;
            padding: 0 15px;
            right: 10px;
            border-radius: 10px;
            animation: noti 1s ease-in-out;
            font-size: 12px;
            color: $black;
        }
    }
}
@media only screen and (min-width: 601px)and (max-width: 800px){
    .modal-eleccion-acc{
        margin-top: 20px;
        align-items: start;
        width: 100%;
        .acc-container{
            width: 50%;
            margin-bottom: 15px;
        }
        .acc-selecc-container{
            display: flex;
            flex-direction: column;
            width: 50%;
        }
        .modelo-acc{
            .encabezado-acc{
                margin-right: 0px;
                width: 90%;
                img{
                    width: 65px;
                    height: 55px;
                }
                p{
                    font-size: 13px;
                }
                svg{
                    font-size: 22px;
                }
            }
            .opciones-accesorios{
                top: 63px;
                width: 90%;
                height: 115px;
                box-shadow: 8px 10px 17px #bebebe;
                flex-direction: column;
                select{
                    font-size: 11px;
                    border-radius: 4px;
                    margin-top: 5px;
                    width: 80%;
                }
                input{
                    width: 80px;
                    font-size: 12px;
                    padding: 2px;
                }
                div{
                    width: 80%;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: space-between;
                    p{
                        margin: 0;
                        font-size: 12px;
                    }
                }
                button{
                    font-size: 20px;
                }
            }
            .on{
                display: flex;
                z-index: 10;
            }
        }
        .acc-btn-comprar{
            background-color: $color1;
            color: $white;
            border: none;
            padding: 6px;
            border-radius: 8px;
            font-size: 14px;
            cursor: pointer;
            transition: .2s ease-in all;
            margin-bottom: 15px;
        }
        .acc-btn-comprar:hover{
            padding:6px 5px;
        }
        .notificacion{
            display: none;
        }
        .noti-on{
            display: flex;
            position: absolute;
            bottom: 0;
            background-color: $color2;
            padding: 0 15px;
            right: 10px;
            border-radius: 10px;
            animation: noti 1s ease-in-out;
            font-size: 12px;
            color: $black;
        }
    } 
}
@media only screen and (min-width: 801px)and (max-width: 1024px){
    .modal-eleccion-acc{
        margin-top: 20px;
        align-items: start;
        width: 100%;
        .acc-container{
            width: 40%;
            margin-bottom: 15px;
        }
        .acc-selecc-container{
            display: flex;
            flex-direction: column;
            width: 60%;
        }
        .modelo-acc{
            .encabezado-acc{
                margin-right: 0px;
                width: 90%;
                img{
                    width: 35%;
                    height: 55px;
                }
                p{
                    width: 45%;
                    font-size: 13px;
                }
                svg{
                    font-size: 22px;
                }
            }
            .opciones-accesorios{
                top: 63px;
                width: 90%;
                height: 115px;
                box-shadow: 8px 10px 17px #bebebe;
                flex-direction: column;
                select{
                    font-size: 11px;
                    border-radius: 4px;
                    margin-top: 5px;
                    width: 80%;
                }
                input{
                    width: 80px;
                    font-size: 12px;
                    padding: 2px;
                }
                div{
                    width: 80%;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: space-between;
                    p{
                        margin: 0;
                        font-size: 12px;
                    }
                }
                button{
                    font-size: 20px;
                }
            }
            .on{
                display: flex;
                z-index: 10;
            }
        }
        .acc-btn-comprar{
            background-color: $color1;
            color: $white;
            border: none;
            padding: 6px;
            border-radius: 8px;
            font-size: 14px;
            cursor: pointer;
            transition: .2s ease-in all;
            margin-bottom: 15px;
        }
        .acc-btn-comprar:hover{
            padding:6px 5px;
        }
        .notificacion{
            display: none;
        }
        .noti-on{
            display: flex;
            position: absolute;
            bottom: 0;
            background-color: $color2;
            padding: 0 15px;
            right: 10px;
            border-radius: 10px;
            animation: noti 1s ease-in-out;
            font-size: 12px;
            color: $black;
        }
    } 
}
@media only screen and (min-width: 1025px)and (max-width: 1280px){
    .modal-eleccion-acc{
        margin-top: 20px;
        align-items: start;
        width: 100%;
        .acc-container{
            width: 40%;
            margin-bottom: 15px;
        }
        .acc-selecc-container{
            display: flex;
            flex-direction: column;
            width: 60%;
        }
        .modelo-acc{
            .encabezado-acc{
                margin-right: 0px;
                width: 90%;
                img{
                    width: 35%;
                    height: 55px;
                }
                p{
                    width: 45%;
                    font-size: 13px;
                }
                svg{
                    font-size: 22px;
                }
            }
            .opciones-accesorios{
                top: 63px;
                width: 90%;
                height: 115px;
                box-shadow: 8px 10px 17px #bebebe;
                flex-direction: column;
                select{
                    font-size: 11px;
                    border-radius: 4px;
                    margin-top: 5px;
                    width: 80%;
                }
                input{
                    width: 80px;
                    font-size: 12px;
                    padding: 2px;
                }
                div{
                    width: 80%;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: space-between;
                    p{
                        margin: 0;
                        font-size: 12px;
                    }
                }
                button{
                    font-size: 20px;
                }
            }
            .on{
                display: flex;
                z-index: 10;
            }
        }
        .acc-btn-comprar{
            background-color: $color1;
            color: $white;
            border: none;
            padding: 6px;
            border-radius: 8px;
            font-size: 14px;
            cursor: pointer;
            transition: .2s ease-in all;
            margin-bottom: 15px;
        }
        .acc-btn-comprar:hover{
            padding:6px 5px;
        }
        .notificacion{
            display: none;
        }
        .noti-on{
            display: flex;
            position: absolute;
            bottom: 0;
            background-color: $color2;
            padding: 0 15px;
            right: 10px;
            border-radius: 10px;
            animation: noti 1s ease-in-out;
            font-size: 12px;
            color: $black;
        }
    } 
}
@media only screen and (min-width: 1281px)and (max-width: 1440px){
    .modal-eleccion-acc{
        margin-top: 20px;
        align-items: start;
        width: 100%;
        .acc-container{
            width: 40%;
            margin-bottom: 15px;
        }
        .acc-selecc-container{
            display: flex;
            flex-direction: column;
            width: 60%;
        }
        .modelo-acc{
            .encabezado-acc{
                margin-right: 0px;
                width: 90%;
                img{
                    width: 35%;
                    height: 55px;
                }
                p{
                    width: 45%;
                    font-size: 13px;
                }
                svg{
                    font-size: 22px;
                }
            }
            .opciones-accesorios{
                top: 63px;
                width: 90%;
                height: 115px;
                box-shadow: 8px 10px 17px #bebebe;
                flex-direction: column;
                select{
                    font-size: 11px;
                    border-radius: 4px;
                    margin-top: 5px;
                    width: 80%;
                }
                input{
                    width: 80px;
                    font-size: 12px;
                    padding: 2px;
                }
                div{
                    width: 80%;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: space-between;
                    p{
                        margin: 0;
                        font-size: 12px;
                    }
                }
                button{
                    font-size: 20px;
                }
            }
            .on{
                display: flex;
                z-index: 10;
            }
        }
        .acc-btn-comprar{
            background-color: $color1;
            color: $white;
            border: none;
            padding: 6px;
            border-radius: 8px;
            font-size: 14px;
            cursor: pointer;
            transition: .2s ease-in all;
            margin-bottom: 15px;
        }
        .acc-btn-comprar:hover{
            padding:6px 5px;
        }
        .notificacion{
            display: none;
        }
        .noti-on{
            display: flex;
            position: absolute;
            bottom: 0;
            background-color: $color2;
            padding: 0 15px;
            right: 10px;
            border-radius: 10px;
            animation: noti 1s ease-in-out;
            font-size: 12px;
            color: $black;
        }
    } 
}