@import 'styles/theme/theme.scss';

.carrito{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 2px solid $color1;
        text-align: center;
        margin-bottom: 45px;
    }

    .carrito-container{
        display: flex;
        flex-direction: column;
        width: 70%;
        min-height: 45vh;
        align-items: center;

        .carro-vacio{
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            h5{
                font-size: 1.3rem;
            }
            span{
                font-weight: 600;
                a{
                    color: $color1;
                    cursor: pointer;
                }
            }
        }
        .carro-lleno{
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            button{
                background-color: $color1;
                padding: 10px;
                border-radius: 8px;
                font-size: 1.2rem;
                color: $white;
                width: 180px;
                border: none;
                margin: 50px;
                transition: .3s ease-in-out all;
                cursor: pointer;
            }
            button:hover{
                background-color: $color2;
                color: $color1;
                border: 1px solid $color1;
            }
    
            table{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 25px 15px;
                thead{
                    width: 100%;
                    display: flex;
                    border-bottom: 2px solid $color1;
                    tr{
                        width: 100%;
                        display: flex;
    
    
                        th:nth-child(1){
                            width: 40%;
                        }
                        th:nth-child(2){
                            width: 20%;
                        }
                        th:nth-child(3){
                            width: 15%;
                        }
                        th:nth-child(4){
                            width: 15%;
                        }
                    }
                }
                tbody{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }


    }
}

@media only screen and (max-width: 375px){
    .carrito{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .carrito-container{
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 45vh;
            align-items: center;
    
            .carro-vacio{
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                h5{
                    font-size: 1.1rem;
                }
                span{
                    font-weight: 600;
                    a{
                        color: $color1;
                        cursor: pointer;
                    }
                }
            }

            .carro-lleno{
                button{
                    background-color: $color1;
                    padding: 5px;
                    border-radius: 5px;
                    font-size: 0.8rem;
                    color: $white;
                    width: 120px;
                    border: none;
                    margin: 50px;
                    transition: .3s ease-in-out all;
                    cursor: pointer;
                }
                button:hover{
                    background-color: $color2;
                    color: $color1;
                    border: 1px solid $color1;
                }
        
                table{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 0px;
                    thead{
                        width: 100%;
                        display: flex;
                        border-bottom: 2px solid $color1;
                        font-size: 0.8rem;
                        tr{
                            width: 100%;
                            display: flex;        
                            th:nth-child(1){
                                width: 35%;
                            }
                            th:nth-child(2){
                                width: 15%;
                            }
                            th:nth-child(3){
                                width: 18%;
                            }
                            th:nth-child(4){
                                width: 10%;
                            }
                            th:nth-child(5){
                                display: none;
                            }
                        }
                    }
                    tbody{
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
            }
    

    
        }
    }   
}

@media only screen and (min-width: 376px)and (max-width: 568px){
    .carrito{
        width: 85%;
    
        .carrito-container{
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 45vh;
            align-items: center;
    
            .carro-vacio{
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                h5{
                    font-size: 1.1rem;
                }
                span{
                    font-weight: 600;
                    a{
                        color: $color1;
                        cursor: pointer;
                    }
                }
            }

            .carro-lleno{
                button{
                    background-color: $color1;
                    padding: 6px;
                    border-radius: 6px;
                    font-size: 0.9rem;
                    color: $white;
                    width: 130px;
                    border: none;
                    margin: 30px;
                    transition: .3s ease-in-out all;
                    cursor: pointer;
                }
                button:hover{
                    background-color: $color2;
                    color: $color1;
                    border: 1px solid $color1;
                }
        
                table{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 0px;
                    thead{
                        width: 100%;
                        display: flex;
                        border-bottom: 2px solid $color1;
                        font-size: 0.85rem;
                        tr{
                            width: 100%;
                            display: flex;        
                            th:nth-child(1){
                                width: 35%;
                            }
                            th:nth-child(2){
                                width: 15%;
                            }
                            th:nth-child(3){
                                width: 18%;
                            }
                            th:nth-child(4){
                                width: 10%;
                            }
                            th:nth-child(5){
                                display: none;
                            }
                        }
                    }
                    tbody{
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
            }
    
            
    
        }
    }  
}

@media only screen and (min-width: 569px)and (max-width: 768px){
    .carrito{
        width: 90%;
        .carrito-container{
            width: 100%;

            .carro-lleno{
                button{
                    background-color: $color1;
                    padding: 6px 8px;
                    border-radius: 6px;
                    font-size: 0.9rem;
                    color: $white;
                    width: 130px;
                    border: none;
                    margin: 30px;
                    transition: .3s ease-in-out all;
                    cursor: pointer;
                }
                table{
                    padding: 8px 0;
                    thead{
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 769px)and (max-width: 1024px){
    .carrito{
        width: 80%;
        .carrito-container{
            width: 90%;
            .carro-lleno{
                button{
                    background-color: $color1;
                    padding: 6px 8px;
                    border-radius: 6px;
                    font-size: 0.9rem;
                    color: $white;
                    width: 130px;
                    border: none;
                    margin: 30px;
                    transition: .3s ease-in-out all;
                    cursor: pointer;
                }
                table{
                    padding: 8px 0;
                    thead{
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

@media only screen and(min-width: 1024px) and (max-width: 1280px){
    .carrito{
        width: 75%;
        .carrito-container{
            width: 85%;
            .carro-lleno{
                button{
                    background-color: $color1;
                    padding:8px;
                    border-radius: 6px;
                    font-size: 1rem;
                    color: $white;
                    width: 150px;
                    border: none;
                    margin: 30px;
                    transition: .3s ease-in-out all;
                    cursor: pointer;
                }
                table{
                    padding: 8px 0;
                    thead{
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}