@import 'styles/theme/theme.scss';

.accesorios{
    display: flex;
    width: 1024px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    .accesorio{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 15px 0;
        border-top: 2px solid $color1;
        position: relative;
        height: auto;
        .manual-btn{
            position: absolute;
            right: 0;
            background-color: $color1;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            a{
                color: $white;
                font-size: 16px;
                text-decoration: none;
            }
        }
        div{
            img{
                width: 220px;
                object-fit: scale-down;
            }
        }

        .acc-descrip{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                padding-top: 10px;
            }
            p{
                color: $black;
                text-align: justify;
            }
        }
    }
}

@media only screen and (max-width: 375px){
    .accesorios{
        display: flex;
        width: 85%;
        flex-direction: column;
        align-items: center;
    
        .accesorio{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px 0;
            border-top: 2px solid $color1;
            .manual-btn{
                position: absolute;
                width: 80px;
                right: 0;
                top: 10px;
                background-color: $color1;
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                cursor: pointer;
                a{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                    color: $white;
                    font-size: 12px;
                    text-decoration: none;

                    svg{
                        font-size: 16px;
                    }
                }
            }
            img{
                width: 220px;
                object-fit: scale-down;
            }
            .acc-descrip{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    color: $black;
                    text-align: justify;
                }
            }
        }
    }
}

@media only screen and(min-width: 375px) and (max-width: 568px){
    .accesorios{
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
    
        .accesorio{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px 0;
            border-top: 2px solid $color1;
            .manual-btn{
                position: absolute;
                width: 80px;
                right: 0;
                top: 10px;
                background-color: $color1;
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                cursor: pointer;
                a{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                    color: $white;
                    font-size: 12px;
                    text-decoration: none;

                    svg{
                        font-size: 16px;
                    }
                }
            }
            img{
                width: 220px;
                object-fit: scale-down;
            }
            .acc-descrip{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    color: $black;
                    text-align: justify;
                }
            }
        }
    }
}

@media only screen and(min-width: 568px) and (max-width: 768px){
    .accesorios{
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
    
        .accesorio{
            width: 100%;
            display: flex;
            padding: 15px 0;
            border-top: 2px solid $color1;
            .manual-btn{
                position: absolute;
                right: 0;
                background-color: $color1;
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                cursor: pointer;
                a{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                    color: $white;
                    font-size: 12px;
                    text-decoration: none;

                    svg{
                        font-size: 16px;
                    }
                }
            }
            div{
                display: flex;
                align-items: center;
                img{
                    width: 220px;
                    object-fit: scale-down;
                }
            }

            .acc-descrip{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3{
                    padding-top: 20px;
                }
                p{
                    color: $black;
                    text-align: justify;
                    font-size: 14px;
                    width: 90%;
                }
            }
        }
    }
}

@media only screen and(min-width: 769px) and (max-width: 1200px){
    .accesorios{
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
    
        .accesorio{
            width: 100%;
            height: auto;
            display: flex;
            padding: 15px 0;
            border-top: 2px solid $color1;
            .manual-btn{
                position: absolute;
                right: 0;
                top: -px;
                background-color: $color1;
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                cursor: pointer;
                a{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                    color: $white;
                    font-size: 12px;
                    text-decoration: none;

                    svg{
                        font-size: 16px;
                    }
                }
            }
            div{
                display: flex;
                align-items: center;
                img{
                    width: 220px;
                    object-fit: scale-down;
                }
            }

            .acc-descrip{
                width: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                h3{
                    padding-top: 20px;
                }
                p{
                    color: $black;
                    text-align: justify;
                    width: 90%;
                }
            }
        }
    }
}