.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-top: 20px;
    div{
        width: 95%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        h3{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
        }
        a{
            color: $color1;
        }
        svg{
            margin-left: 10px;
            cursor: pointer;
            transition: .3s ease-in;
            font-size: 30px;
        }
        svg:hover{
            color: $black;
        }
    }

    img{
        max-width: 95%;
        height: 260px;
        cursor: pointer;
        object-fit: scale-down;
    }
    img:hover{
        transition: .3s ease-in-out all;
        transform: scale(0.9);
    }
}


@media only screen and (max-width: 375px){
    .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        border-bottom: 2px solid $color1;
        margin-bottom: 20px;
        div{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            h3{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90%;
            }
            a{
                color: $color1;
            }
            svg{
                margin-left: 10px;
                cursor: pointer;
                transition: .3s ease-in;
            }
            svg:hover{
                color: $black;
                transform: scale(0.9);
            }
        }
        a{
            img{
                border: none;
            }
        }
    
        img{
            max-width: 95%;
            height: 260px;
            cursor: pointer;
            object-fit: scale-down;
        }
        img:hover{
            transition: .3s ease-in-out all;
            transform: scale(0.95);
        }
    }
}

@media only screen and(min-width: 375px) and (max-width: 568px){
    .item{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid $color1;
        margin: 0px;
        div{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            h3{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90%;
            }
            a{
                color: $color1;
            }
            svg{
                margin-left: 10px;
                cursor: pointer;
                transition: .3s ease-in;
            }
            svg:hover{
                color: $black;
                transform: scale(0.9);
            }
        }
        a{
            img{
                border: none;
            }
        }
    
        img{
            max-width: 95%;
            height: 260px;
            cursor: pointer;
            object-fit: scale-down;
        }
        img:hover{
            transition: .3s ease-in-out all;
            transform: scale(0.95);
        }
    }
}


@media only screen and(min-width: 568px) and (max-width: 768px){
    .item{
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid $color1;
        margin-top: 20px;
        div{
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            h3{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90%;
                height: 25px;
            }
            a{
                color: $color1;
            }
            svg{
                margin-left: 10px;
                cursor: pointer;
                transition: .3s ease-in;
            }
            svg:hover{
                color: $black;
                transform: scale(0.9);
            }
        }
    
        img{
            max-width: 90%;
            height: 260px;
            cursor: pointer;
            object-fit: scale-down;
        }
        img:hover{
            transition: .3s ease-in-out all;
            transform: scale(0.95);
        }
    }
}


@media only screen and(min-width: 768px) and (max-width: 1024px){
    .item{
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid $color1;
        margin-top: 20px;
        div{
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            h3{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90%;
                height: 25px;
            }
            a{
                color: $color1;
            }
            svg{
                margin-left: 10px;
                cursor: pointer;
                transition: .3s ease-in;
                font-size: 1.35rem;
            }
            svg:hover{
                color: $black;
                transform: scale(0.9);
            }
        }
    
        img{
            max-width: 90%;
            height: 260px;
            cursor: pointer;
            object-fit: scale-down;
        }
        img:hover{
            transition: .3s ease-in-out all;
            transform: scale(0.95);
        }
    }
}

@media only screen and(min-width: 1024px) and (max-width: 1280px){
    .item{
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        div{
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            h3{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90%;
                height: 25px;
                font-size: 1.4rem;
            }
            a{
                color: $color1;
            }
            svg{
                margin-left: 10px;
                cursor: pointer;
                transition: .3s ease-in;
                font-size: 1.5rem;
            }
            svg:hover{
                color: $black;
                transform: scale(0.9);
            }
        }
    
        img{
            max-width: 90%;
            height: 260px;
            cursor: pointer;
            object-fit: scale-down;
        }
        img:hover{
            transition: .3s ease-in-out all;
            transform: scale(0.95);
        }
    }
}


@media only screen and(min-width: 1280px) and (max-width: 1440px){
    .item{
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        div{
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            h3{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90%;
                height: 25px;
                font-size: 1.4rem;
            }
            a{
                color: $color1;
            }
            svg{
                margin-left: 10px;
                cursor: pointer;
                transition: .3s ease-in;
                font-size: 25px;
            }
            svg:hover{
                color: $black;
                transform: scale(0.9);
            }
        }
    
        img{
            max-width: 90%;
            height: 260px;
            cursor: pointer;
            object-fit: scale-down;
        }
        img:hover{
            transition: .3s ease-in-out all;
            transform: scale(0.95);
        }
    }
}