@import '../theme/theme.scss';

footer{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    div{
        width: 100%;
        display: flex;
        justify-content: center;
        img{
            width: 90px;
            height: 65px;
            padding: 5px;
        }
    }
    div:nth-child(1){
        background-color: $color2;
    }

    div:nth-child(2){
        background-color: $black;
        color: $color2;
    }
}