@import '../theme/theme.scss';

.productos{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;

    .categorias-container{
        width: 100%;
        display: flex;
        border-top: 2px solid $color1;
        border-bottom: 2px solid $color1;
        padding: 25px 0;
    }

    .categoria{
        width: 33.3%;
        text-align: center;
        h3{
            color: $color1;
        }
        img{
            object-fit: cover;
            width: 90%;
            margin-bottom: 25px;
            cursor: pointer;
            box-shadow: 1px 5px 10px rgba(0,0,0,0.6);
            border-radius: 5px;
            transition: .3s ease-in-out all;
        }
        img:hover{            
            transform: scale(0.9)
        }
    }
}