@import 'styles/theme/theme.scss';

.pregfrec{
    display: flex;
    flex-direction: column;
    width: 70%;
    h1{
        margin-bottom: 30px;
        text-align: center;
    }
    p{
        color: $black;
        font-size: 1.1rem;
        text-align: justify;
    }
    div{
        display: flex;
        flex-direction: column;
    }
    .seccion{
        width: 70%;
        margin-bottom: 15px;
        border-bottom: 2px solid #ccc;
        h4{
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
            width: 80%;
        }
        .res{
            width: 100%;
            ul{
                list-style: none;
                padding: 0;
                li{
                    color: $black;
                    margin: 15px 0;
                }
            }
        }
    }

    .off{
        display: none;
    }
}