@import '../theme/theme.scss';

.rrss{
    svg{
        width: 50px;
        font-size: 3.2rem;
        margin: 0 15px;
        cursor: pointer;
        transition: .15s ease-in all;
    }
    #wpp{
        color: #2CC54E;
    }
    #lin{
        color:#0A66C2;
    }
    #insta{
        color: #D33F76;
    }

    svg:hover{
        opacity: 0.85;
        transform: scale(0.95);
    }
}
@media only screen and (max-width: 375px){
    .rrss{
        svg{
            width: 40px;
            font-size: 2.2rem;
            margin: 0 15px;
        }
    }

}
// linkedin #0A66C2
//wpp #2CC54E
// insta #D33F76