@import 'styles/theme/theme.scss';

.rrss{
    padding: 20px;

    svg{
        width: 50px;
        font-size: 3.2rem;
        margin: 50px 15px 0 0;
        cursor: pointer;
        transition: .15s ease-in all;
    }
    #wpp{
        color: #2CC54E;
    }
    #lin{
        color:#0A66C2;
    }
    #insta{
        color: #D33F76;
    }

    svg:hover{
        opacity: 0.85;
        transform: scale(0.95);
    }
}
.int{
    animation: intersection 1s ease-in-out;
}
@media only screen and (max-width: 375px){
    .rrss{
        svg{
            width: 40px;
            font-size: 2.2rem;
            margin: 0 15px;
        }
    }

}

@keyframes intersection {
    0% {
        padding: 0px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        padding: 20px;
    }
}
