@import 'styles/theme/theme.scss';

.producto2-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    .producto{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        justify-content: center;
        margin-top: 50px;            
        position: relative;
        .manual-btn{
            position: absolute;
            right: 0;
            background-color: $color1;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            a{
                color: $white;
                font-size: 16px;
                text-decoration: none;
            }
        }
        .info-producto{
            display: flex;
            justify-content: space-around;
            padding: 25px 0;
            margin-bottom: 15px;
            border-top: 2.5px solid $color1;
            //border-bottom: 2.5px solid $color1;
            .img-container{
                width: 50%;
                display: flex;
                justify-content: center;
                height: 500px;
                img{
                    max-width: 100%;
                    height: auto;
                    object-fit: scale-down;
                }
            }

            .uso{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .descripcion{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    h2{
                        font-size: 20px;
                        text-align: center;
                    }
                    p{
                        width: 100%;
                        font-size: 16px;
                        text-align: justify;
                        color: $black;
                        margin: 0;
                    }
                }
                .anmat{
                    padding: 7px 12px;
                    border-radius: 10px;
                    width: auto;
                    border: 2px solid $color1;
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    p{
                        font-size: 14px;
                        color: $black;
                        margin: 0;
                    }
                }
            }

        }
    }
}


@media only screen and (max-width: 568px){
    .producto2-container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    
        .producto{
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            justify-content: center;
            margin-top: 50px;
            .manual-btn{
                position: absolute;
                width: auto;
                right: 0;
                top: -30px;
                background-color: $color1;
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                cursor: pointer;
                a{
                    display: flex;
                    align-items: center;
                    color: $white;
                    font-size: 12px;
                    text-decoration: none;

                    svg{
                        margin-left: 5px;
                        font-size: 16px;
                    }
                }
            }
            .info-producto{
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: space-around;
                align-items: center;
                padding: 25px 0;
                margin-bottom: 15px;
                border-top: 2.5px solid $color1;
                .img-container{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    height: 260px;
                    img{
                        width: auto;
                        height: 100%;
                        max-width: 100%;
                    }
                }
    
                .uso{
                    width: 100%;
                    .descripcion{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        h2{
                            font-size: 16px;
                        }
                        p{
                            font-size: 13px;
                            color: $black;
                            margin: 0;
                            width: 95%;
                        }
                    }
                    .anmat{
                        max-width: 95%;
                        margin-top: 30px;
                        padding: 5px;
                        position: relative;
                        right: 0px;
                        bottom: 0px;
                        p{
                            font-size: 13px;
                            color: $black;
                            margin: 0;
                        }
                    }
                }
    
            }
        }
    }
}
@media only screen and (min-width: 569px) and (max-width: 768px){
    .producto2-container{
        .producto{
            width: 90%;
            .manual-btn{
                top: -20px;
                a{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                    color: $white;
                    font-size: 12px;
                    text-decoration: none;
                    svg{
                        font-size: 16px;
                    }
                }
            }
            .info-producto{
                align-items: center;
                .img-container{
                    height: 320px;
                    img{
                        width: auto;
                        height: 100%;
                        max-width: 90%;
                    }
                }
                .uso{
                    .descripcion{
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        h2{
                            font-size: 17px;
                        }
                        p{
                            font-size: 13px;
                            width: 95%;
                        }
                    }
                    .anmat{
                        max-width: 95%;
                        margin-top: 30px;
                        padding: 5px;
                        position: relative;
                        right: 0px;
                        bottom: 0px;
                        p{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .producto2-container{
        .producto{
            width: 85%;
            .manual-btn{
                top: -10px;
                a{
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    text-decoration: none;
                    svg{
                        font-size: 20px;
                        margin-left: 10px;
                    }
                }
            }
            .info-producto{
                align-items: center;
                .img-container{
                    height: 370px;
                    img{
                        width: auto;
                        height: 100%;
                        max-width: 90%;
                    }
                }
                .uso{
                    .descripcion{
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        h2{
                            font-size: 18px;
                        }
                        p{
                            font-size: 14px;
                            width: 95%;
                        }
                    }
                    .anmat{
                        max-width: 95%;
                        margin-top: 30px;
                        padding: 7px;
                        position: relative;
                        right: 0px;
                        bottom: 0px;
                        p{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px){
    .producto2-container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        .producto{
            display: flex;
            flex-wrap: wrap;
            width: 85%;
            justify-content: center;
            margin-top: 50px;
            .info-producto{
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 25px 0;
                margin-bottom: 15px;
                border-top: 2.5px solid $color1;
                .img-container{
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 420px;
                    img{
                        width: auto;
                        height: 100%;
                        max-width: 90%;
                    }
                }
                .uso{
                    width: 50%;
                    .descripcion{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        h2{
                            font-size: 20px;
                        }
                        p{
                            font-size: 15px;
                            color: $black;
                            margin: 0;
                            width: 95%;
                        }
                    }
                    .anmat{
                        max-width: 95%;
                        margin-top: 30px;
                        padding: 7px;

                        p{
                            font-size: 14px;
                            color: $black;
                            margin: 0;
                        }
                    }
                }

            }
        }
    }   
}

@media only screen and (min-width: 1280px) and (max-width: 1440px){
    .producto2-container{
        .producto{
            width: 75%;
        }
    }
}
