@import 'styles/theme/theme.scss';

.modelos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    border-top: 2px solid $color1;
    h4{
        font-size: 24px;
        margin: 20px 0;
    }
    .modelo-info{
        display: flex;
        flex-wrap: wrap;
        .modelo{
            width: 210px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 15px;
            margin-bottom: 15px;
            background-color: #f8f8f8;
            border-radius: 12px;
            border: 1.5px solid #d9d9d9;
            img{
                width: 190px;
                height: 170px;
                object-fit: contain;
            }
            h5{
                font-size: 18px;
                margin: 10px;
            }
            p{
                width: 80%;
                font-size: 13px;
                margin: 0;
            }
            .modulos{
                display: flex;
                width: 100%;
                flex-direction: column;
                .modulos-lista{
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    li{
                        list-style: none;
                        margin-bottom: 5px;
                        border-bottom: 1px solid $color1;
                    }
                }
            }
        }
    }
   
}

@media only screen and (max-width: 440px){
    .modelos{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        border-top: 2px solid $color1;
        h4{
            font-size: 18px;
        }    
        .modelo-info{
            width: 80%;
            .modelo{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 0px;
                margin-bottom: 15px;
                width: 100%;
                margin-right:0;
                img{
                    width: 70%;
                }
                h5{
                    font-size: 18px;
                    margin: 10px;
                }
                p{
                    width: 80%;
                    font-size: 13px;
                    margin: 0;
                }
                .modulos{
                    .modulos-lista{
                        li{
                            font-size: 12px;
                            border: none;
                        }
                    }
                }
            }
        }   
    }
}

@media only screen and (min-width: 440px) and (max-width: 768px){
    .modelos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        border-top: 2px solid $color1;
        h4{
            font-size: 18px;
        }
        .modelo-info{
            width: 95%;
            .modelo{
                width: 48%;
                margin-right: 5px;
                margin-bottom: 5px;
                img{
                    width: 90%;
                }
                h5{
                    font-size: 18px;
                    margin: 5px;
                }
                p{
                    width: 90%;
                    font-size: 12px;
                    margin: 0;
                    font-weight: normal;
                }
                .modulos{
                    .modulos-lista{
                        li{
                            font-size: 12px;
                            border: none;
                        }
                    }
                }
            }
        }   
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .modelos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;    
        border-top: 2px solid $color1;
        h4{
            font-size: 20px;
        }
        .modelo-info{
            width: 95%;
            justify-content: space-between;
            .modelo{
                width: 30%;
                margin-right: 8px;
                margin-bottom: 8px;
                img{
                    width: 180px;
                }
                h5{
                    font-size: 18px;
                    margin: 5px;
                }
                p{
                    width: 90%;
                    font-size: 12px;
                    margin: 0;
                    font-weight: normal;
                    margin-bottom: 5px;
                }
                .modulos{
                    .modulos-lista{
                        li{
                            font-size: 12px;
                            border: none;
                        }
                    }
                }
            }
        }    
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px){
    .modelos{
        display: flex;
        flex-direction: column;
        width: 100%;    
        border-top: 2px solid $color1;
        h4{
            font-size: 22px;
        }   
        .modelo-info{
            width: 100%;
            justify-content: flex-start;
            .modelo{
                width: 23%;
                margin-right: 8px;
                margin-bottom: 8px;
                img{
                    width: 180px;
                }
                h5{
                    font-size: 18px;
                    margin: 5px;
                }
                p{
                    width: 90%;
                    font-size: 12px;
                    margin: 0;
                    font-weight: normal;
                    margin-bottom: 5px;
                }
                .modulos{
                    .modulos-lista{
                        li{
                            font-size: 12px;
                            border: none;
                        }
                    }
                }
            }
        }    
    }  
}