@import 'styles/theme/theme.scss';

.modal-eleccion{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    p{
        font-size: 12px;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        .container-opciones{
            display: flex;
            flex-direction: column;
            width: 55%;
            margin-bottom: 15px;
        }
        .selecciones{
            display: flex;
            flex-direction: column;
            width: 45%;
            align-items: center;
            .selecciones-container{
                width: 90%;
                display: flex;
                flex-direction: column;
                p{
                    margin: 0;
                }
                .seleccionado{
                    border: 1px solid #c1c1c1;
                    width: 90%;
                    position: relative;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-bottom: 10px;
                    padding: 1.5px;
                    button{
                        background-color: transparent;
                        border: none;
                        color: $color1;
                        font-size: 1.2rem;
                        margin: 0px;
                    }
                    svg:hover{
                        cursor: pointer;
                        color: $black;
                    }
                    img{
                        width: 40px;
                        height: 40px;
                    }
                    p{
                        margin: 0;
                    }
                }
            }
        }
    }
    .container-unidsum{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .container-opciones{
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-bottom: 15px;
        }
        .container-seleccion{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .botonera{
                width: 90%;
                margin-bottom: 10px;
            }
        }
    }
    .encabezado{
        cursor: pointer;
        position: relative;
        background-color: $color1;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 5px;
        width: 230px;
        margin-right: 5px;
        p{
            margin-left: 3px;
            font-size: 14px;
            font-weight: 600;
        }
        svg{
            font-size: 1.5rem;
        }
    }
}

.modelo{
    border: 2px solid $color2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    button{
        background-color: transparent;
        svg{
            color: $color1;
            cursor: pointer;
        }
        svg:hover{
            color: $black;
        }
    }
}

@media only screen and (max-width: 420px){
    .modal-eleccion{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            .container-opciones{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 10px;
                .modal-modelos-container{
                    .encabezado{
                        width: 70%;
                        margin-right: 0px;
                        p{
                            margin-left: 0px;
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                }
            }
            .selecciones{
                width: 80%;
                .selecciones-container{
                    width: 90%;
                    .seleccionado{
                        width: 100%;
                        padding: 1px;
                        justify-content: space-between;
                        button{
                            display: flex;
                            align-items: center;
                        }
                        svg:hover{
                            cursor: pointer;
                            color: $black;
                        }
                        img{
                            width: 40px;
                            height: 40px;
                        }
                        p{
                            margin: 0;
                        }
                    }
                }
            }
        }
        .container-unidsum{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .container-opciones{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin-bottom: 10px;
            }
            .container-seleccion{
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .encabezado{
            width: 70%;
            margin-right: 0px;
            p{
                margin-left: 0px;
                font-size: 12px;
                font-weight: 600;
            }
        }
    }
    .modelo{
        border: 2px solid $color2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        button{
            background-color: transparent;
            svg{
                color: $color1;
                cursor: pointer;
            }
            svg:hover{
                color: $black;
            }
        }
    }
}
@media only screen and (min-width: 421px)and (max-width: 600px){
    .modal-eleccion{
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            .container-opciones{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 10px;
                .modal-modelos-container{
                    .encabezado{
                        width: 85%;
                        margin-right: 0px;
                        p{
                            margin-left: 0px;
                            font-size: 13px;
                            font-weight: 600;
                        }
                    }
                }
            }
            .selecciones{
                width: 90%;
                .selecciones-container{
                    width: 90%;
                    .seleccionado{
                        width: 100%;
                        padding: 2px;
                        justify-content: space-between;
                        button{
                            display: flex;
                            align-items: center;
                        }
                        svg:hover{
                            cursor: pointer;
                            color: $black;
                        }
                        img{
                            width: 40px;
                            height: 40px;
                        }
                        p{
                            margin: 0;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .container-unidsum{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .container-opciones{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin-bottom: 10px;
            }
            .container-seleccion{
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .encabezado{
            width: 85%;
            margin-right: 0px;
            p{
                margin-left: 0px;
                font-size: 13px;
                font-weight: 600;
            }
        }
        .modelo{
            border: 2px solid $color2;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            button{
                background-color: transparent;
                svg{
                    color: $color1;
                    cursor: pointer;
                }
                svg:hover{
                    color: $black;
                }
            }
        }
    }
    
    .seleccionado{
        border: 1px solid $color2;
        width: 90%;
        position: relative;
        display: flex;
        align-items: center;
        button{
            background-color: transparent;
            border: none;
            color: $color1;
            font-size: 1.2rem;
            margin: 5px;
        }
        svg:hover{
            cursor: pointer;
            color: $black;
        }
        img{
            width: 40px;
            margin-right: 15px;
        }
        p{
            margin: 0;
            padding: 4px;
        }
    }
    
    .modelo{
        padding: 0px;
        border: 1px solid $color2;
        font-weight: bold;
        border-radius: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
@media only screen and (min-width: 601px)and (max-width: 800px){
    .modal-eleccion{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        .container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: start;
            width: 100%;
            .container-opciones{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 10px;
                align-items: center;
                .modal-modelos-container{
                    .encabezado{
                        width: 90%;
                        margin-right: 0px;
                        p{
                            margin-left: 0px;
                            font-size: 13px;
                            font-weight: 600;
                        }
                    }
                }
            }
            .selecciones{
                width: 90%;
                flex-direction: column-reverse;
                .selecciones-container{
                    width: 90%;
                    .seleccionado{
                        width: 100%;
                        padding: 2px;
                        justify-content: space-between;
                        button{
                            display: flex;
                            align-items: center;
                        }
                        svg:hover{
                            cursor: pointer;
                            color: $black;
                        }
                        img{
                            width: 40px;
                            height: 40px;
                        }
                        p{
                            margin: 0;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .container-unidsum{
            display: flex;
            justify-content: space-between;
            align-items: start;
            .container-opciones{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 50%;
                margin-bottom: 10px;
            }
            .container-seleccion{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: start;
            }
        }
        .encabezado{
            width: 90%;
            margin-right: 0px;
            p{
                margin-left: 0px;
                font-size: 13px;
                font-weight: 600;
            }
        }
        .modelo{
            border: 2px solid $color2;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            button{
                background-color: transparent;
                svg{
                    color: $color1;
                    cursor: pointer;
                }
                svg:hover{
                    color: $black;
                }
            }
        }
    }
    
    .seleccionado{
        border: 1px solid $color2;
        width: 90%;
        position: relative;
        display: flex;
        align-items: center;
        button{
            background-color: transparent;
            border: none;
            color: $color1;
            font-size: 1.2rem;
            margin: 5px;
        }
        svg:hover{
            cursor: pointer;
            color: $black;
        }
        img{
            width: 40px;
            margin-right: 15px;
        }
        p{
            margin: 0;
            padding: 4px;
        }
    }
    
    .modelo{
        padding: 0px;
        border: 1px solid $color2;
        font-weight: bold;
        border-radius: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
@media only screen and (min-width: 801px)and (max-width: 1024px){
    .modal-eleccion{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        p{
            font-size: 12px;
        }
        .container{
            display: flex;
            align-items: start;
            justify-content: space-between;
            width: 80%;
            .container-opciones{
                display: flex;
                flex-direction: column;
                width: 45%;
                margin-bottom: 0px;
            }
            .selecciones{
                display: flex;
                flex-direction: column-reverse;
                width: 55%;
                align-items: center;
                .selecciones-container{
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    p{
                        margin: 0;
                    }
                    .seleccionado{
                        border: 1px solid #c1c1c1;
                        width: 90%;
                        position: relative;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        margin-bottom: 10px;
                        padding: 1.5px;
                        button{
                            background-color: transparent;
                            border: none;
                            color: $color1;
                            font-size: 1.2rem;
                            margin: 0px;
                        }
                        svg:hover{
                            cursor: pointer;
                            color: $black;
                        }
                        img{
                            width: 40px;
                            height: 40px;
                        }
                        p{
                            margin: 0;
                        }
                    }
                }
            }
        }
        .container-unidsum{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .container-opciones{
                display: flex;
                flex-direction: column;
                width: 40%;
                margin-bottom: 0px;
                .encabezado{
                    width: 85%;
                }
            }
            .container-seleccion{
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .botonera{
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
        .encabezado{
            cursor: pointer;
            position: relative;
            background-color: $color1;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-radius: 5px;
            width: 100%;
            margin-right: 5px;
            p{
                font-size: 13px;
                font-weight: 600;
                margin: 8px 0;
            }
            svg{
                font-size: 1.5rem;
            }
        }
    }   
    .modelo{
        border: 2px solid $color2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        button{
            background-color: transparent;
            svg{
                color: $color1;
                cursor: pointer;
            }
            svg:hover{
                color: $black;
            }
        }
    }
}
@media only screen and (min-width: 1025px)and (max-width: 1280px){
    .modal-eleccion{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        p{
            font-size: 12px;
        }
        .container{
            display: flex;
            align-items: start;
            justify-content: space-between;
            width: 80%;
            .container-opciones{
                display: flex;
                flex-direction: column;
                width: 45%;
                margin-bottom: 0px;
            }
            .selecciones{
                display: flex;
                flex-direction: column-reverse;
                width: 55%;
                align-items: center;
                .selecciones-container{
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    p{
                        margin: 0;
                    }
                    .seleccionado{
                        border: 1px solid #c1c1c1;
                        width: 90%;
                        position: relative;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        margin-bottom: 10px;
                        padding: 1.5px;
                        button{
                            background-color: transparent;
                            border: none;
                            color: $color1;
                            font-size: 1.2rem;
                            margin: 0px;
                        }
                        svg:hover{
                            cursor: pointer;
                            color: $black;
                        }
                        img{
                            width: 40px;
                            height: 40px;
                        }
                        p{
                            margin: 0;
                        }
                    }
                }
            }
        }
        .container-unidsum{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .container-opciones{
                display: flex;
                flex-direction: column;
                width: 40%;
                margin-bottom: 0px;
                .encabezado{
                    width: 85%;
                }
            }
            .container-seleccion{
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .botonera{
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
        .encabezado{
            cursor: pointer;
            position: relative;
            background-color: $color1;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-radius: 5px;
            width: 100%;
            margin-right: 5px;
            p{
                font-size: 13px;
                font-weight: 600;
                margin: 8px 0;
            }
            svg{
                font-size: 1.5rem;
            }
        }
    }   
    .modelo{
        border: 2px solid $color2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        button{
            background-color: transparent;
            svg{
                color: $color1;
                cursor: pointer;
            }
            svg:hover{
                color: $black;
            }
        }
    }
}
@media only screen and (min-width: 1281px)and (max-width: 1440px){
    .modal-eleccion{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        p{
            font-size: 12px;
        }
        .container{
            display: flex;
            align-items: start;
            justify-content: space-between;
            width: 80%;
            .container-opciones{
                display: flex;
                flex-direction: column;
                width: 45%;
                margin-bottom: 0px;
            }
            .selecciones{
                display: flex;
                flex-direction: column-reverse;
                width: 55%;
                align-items: center;
                .selecciones-container{
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    p{
                        margin: 0;
                    }
                    .seleccionado{
                        border: 1px solid #c1c1c1;
                        width: 90%;
                        position: relative;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        margin-bottom: 10px;
                        padding: 1.5px;
                        button{
                            background-color: transparent;
                            border: none;
                            color: $color1;
                            font-size: 1.2rem;
                            margin: 0px;
                        }
                        svg:hover{
                            cursor: pointer;
                            color: $black;
                        }
                        img{
                            width: 40px;
                            height: 40px;
                        }
                        p{
                            margin: 0;
                        }
                    }
                }
            }
        }
        .container-unidsum{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .container-opciones{
                display: flex;
                flex-direction: column;
                width: 40%;
                margin-bottom: 0px;
                .encabezado{
                    width: 85%;
                }
            }
            .container-seleccion{
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .botonera{
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
        .encabezado{
            cursor: pointer;
            position: relative;
            background-color: $color1;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-radius: 5px;
            width: 95%;
            margin-right: 5px;
            p{
                font-size: 14px;
                font-weight: 600;
            }
            svg{
                font-size: 1.5rem;
            }
        }
    }   
    .modelo{
        border: 2px solid $color2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        button{
            background-color: transparent;
            svg{
                color: $color1;
                cursor: pointer;
            }
            svg:hover{
                color: $black;
            }
        }
    }
}