@import 'styles/theme/theme.scss';
.aviso{
    display: flex;
    position: relative;
    margin-bottom: 50px;
    justify-content: center;
    width: 1024px;
    height: 220px;
    //overflow: hidden;
    img{
        width: 95%;
        object-fit: scale-down;
        border-radius: 50px;
        border: 5px solid $color1;
    }
    div{
        position: absolute;
        left: 0;
        top: 60px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        p{
            background-color: $color1;
            color: $white;
            font-weight: 600;
            padding: 5px 15px;
            border-radius: 5px;
            font-size: 26px;
        }
        button{
            background-color: transparent;
            border: none;
            transition: 0.3s ease-in-out all;
            a{
                cursor: pointer;
                text-decoration: none;
                color: $color1;
                background-color: $white;
                border: 2px solid $color1;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 18px;
                transition: .3S ease-in all;
                display: flex;
                align-items: center;
            }
            a:hover{
                color: $white;
                background-color: $color1;
            }
        }
    }

}


@media only screen and (max-width: 440px){
    .aviso{
        margin-bottom: 50px;
        width: 320px;
        height: 160px;
        img{
            width: 95%;
            height: 120px;
            object-fit: cover;
            border-radius: 25px;
            border: 3px solid $color1;
        }
        div{
            top: 25px;
            p{
                padding: 3px 8px;
                border-radius: 3px;
                font-size: 16px;
            }
            button{
                a{
                    border: 2px solid $color1;
                    padding: 3px 5px;
                    border-radius: 3px;
                    font-size: 14px;
                }
                a:hover{
                    color: $white;
                    background-color: $color1;
                }
            }
        }
    }  
}

@media only screen and (min-width: 441px)and (max-width: 640px){
    .aviso{
        margin-bottom: 50px;
        width: 420px;
        height: 178px;
        img{
            width: 95%;
            height: 140px;
            object-fit: cover;
            border-radius: 25px;
            border: 3px solid $color1;
        }
        div{
            top: 50px;
            p{
                padding: 3px 8px;
                border-radius: 3px;
                font-size: 16px;
            }
            button{
                a{
                    border: 2px solid $color1;
                    padding: 3px 5px;
                    border-radius: 3px;
                    font-size: 14px;
                }
                a:hover{
                    color: $white;
                    background-color: $color1;
                }
            }
        }
    }  
}

@media only screen and (min-width: 641px)and (max-width: 1080px){
    .aviso{
        margin-bottom: 50px;
        width: 620px;
        height: 200px;
        img{
            width: 95%;
            height: 150px;
            object-fit: cover;
            border-radius: 30px;
            border: 3px solid $color1;
        }
        div{
            top: 45px;
            p{
                padding: 3px 8px;
                border-radius: 3px;
                font-size: 16px;
            }
            button{
                a{
                    border: 2px solid $color1;
                    padding: 3px 5px;
                    border-radius: 3px;
                    font-size: 14px;
                }
                a:hover{
                    color: $white;
                    background-color: $color1;
                }
            }
        }
    }  
}

@media only screen and (min-width: 1081px)and (max-width: 1400px){
    .aviso{
        margin-bottom: 50px;
        width: 840px;
        height: 220px;
        img{
            width: 95%;
            height: 170px;
            object-fit: cover;
            border-radius: 40px;
            border: 4px solid $color1;
        }
        div{
            top: 50px;
            p{
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 20px;
            }
            button{
                a{
                    border: 2px solid $color1;
                    padding: 3px 5px;
                    border-radius: 5px;
                    font-size: 16px;
                }
                a:hover{
                    color: $white;
                    background-color: $color1;
                }
            }
        }
    }  
}