.carrusel-container{
    width: 1080px;
    height: 503px;
    overflow: hidden;
    margin-bottom: 60px;
    ul{
        margin: 0;
        padding: 0;

        li{
            list-style: none;
        }
    }

    .carrusel{
        /*position: relative;*/
        display: flex;
        width: 900%;
        animation: slider 40s infinite linear;
        li{
           // position: absolute;
            left: 0;
            top:0;
            opacity: 1;
            width: inherit;
            height: inherit;
            background-color: white;           
            img{
                width: 100%;
                height: 500px;
                object-fit: cover;
                object-fit: scale-down;
            }
        }
    }
    .enlaces{
        display: none;
    }
    .carruselImgText{
        position: relative;
        div{
            position: absolute;
            background-color: transparent;
            left: 5%;
            bottom: 10%;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h4{
                font-size: 22px;
                margin: 8px;
                color: $white;
            }
            a{
                background-color: $color1;
                margin: 0px;
                padding: 6px 10px;
                width: auto;
                color: $white;
                font-size: 14px;
                cursor: pointer;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                box-shadow: 7px 7px 22px -7px rgba(0,0,0,0.72);
                -webkit-box-shadow: 7px 7px 22px -7px rgba(0,0,0,0.72);
                -moz-box-shadow: 7px 7px 22px -7px rgba(0,0,0,0.72);
            }
            a:hover{
                box-shadow: 4px 13px 35px -6px rgba(0,0,0,0.37) inset;
                -webkit-box-shadow: 4px 13px 35px -6px rgba(0,0,0,0.37) inset;
                -moz-box-shadow: 4px 13px 35px -6px rgba(0,0,0,0.37) inset;
            }
        }
    }
    .carruselImgLink{
        position: relative;
        a{
            position: absolute;
            width: 100px;
            background-color: $color1;
            left: 10%;
            bottom: 10%;
            padding: 8px 15px;
            border: none;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 7px 7px 22px -7px rgba(0,0,0,0.72);
            -webkit-box-shadow: 7px 7px 22px -7px rgba(0,0,0,0.72);
            -moz-box-shadow: 7px 7px 22px -7px rgba(0,0,0,0.72);
            font-size: 20px;
            cursor: pointer;
            text-decoration: none;
            color: $white;
        }
        a:hover{
            box-shadow: 4px 13px 35px -6px rgba(0,0,0,0.37) inset;
            -webkit-box-shadow: 4px 13px 35px -6px rgba(0,0,0,0.37) inset;
            -moz-box-shadow: 4px 13px 35px -6px rgba(0,0,0,0.37) inset;
        }
    }
    .carruselImgTitle{
        position: relative;
        div{
            position: absolute;
            background-color: transparent;
            left: 5%;
            bottom: 40%;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                font-size: 32px;
                margin: 8px;
                color: $white;
                width: 400px;
            }
            a{
                background-color: $color1;
                margin: 0px;
                padding: 6px 10px;
                width: auto;
                color: $white;
                font-size: 14px;
                cursor: pointer;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                box-shadow: 7px 7px 22px -7px rgba(0,0,0,0.72);
                -webkit-box-shadow: 7px 7px 22px -7px rgba(0,0,0,0.72);
                -moz-box-shadow: 7px 7px 22px -7px rgba(0,0,0,0.72);
            }
            a:hover{
                box-shadow: 4px 13px 35px -6px rgba(0,0,0,0.37) inset;
                -webkit-box-shadow: 4px 13px 35px -6px rgba(0,0,0,0.37) inset;
                -moz-box-shadow: 4px 13px 35px -6px rgba(0,0,0,0.37) inset;
            }
        }
    }

}

@keyframes slider {
    0%{margin-left: 0;}
    10%{margin-left: 0;}

    11%{margin-left: -100%;}
    21%{margin-left: -100%;}

    22%{margin-left: -200%;}
    32%{margin-left: -200%;}

    33%{margin-left: -300%;}
    43%{margin-left: -300%;}

    44%{margin-left: -400%;}
    54%{margin-left: -400%;}

    55%{margin-left: -500%;}
    65%{margin-left: -500%;}

    66%{margin-left: -600%;}
    76%{margin-left: -600%;}

    77%{margin-left: -700%;}
    87%{margin-left: -700%;}

    88%{margin-left: -800%;}
    100%{margin-left: -800%;}
}

@media only screen and (max-width: 440px){

    .carrusel-container{
        width: 100%;
        height: 250px;
        overflow: hidden;
        margin-bottom: 60px;
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
            }
        }
    
        .carrusel{
            li{
               // position: absolute;
                left: 0;
                top:0;
                opacity: 1;
                width: inherit;
                height: inherit;
                background-color: white;           
                img{
                    width: 100%;
                    height: 100%;
                    box-shadow: 5px 10px 16px rgba(0,0,0,0.8);
                    object-fit: cover;
                }
            }
        }
    
    
        .enlaces{
            display: none;
        }
        .carruselImgText{
            position: relative;
            div{
                position: absolute;
                background-color: $white;
                right: 5%;
                bottom: 10%;
                border-radius: 5px;
                border: 3px solid $color1;
                h4{
                    font-size: 12px;
                    margin: 8px;
                }
                a{
                    margin: 5px;
                    padding: 3px;
                    width: 50%;
                    font-size: 11px;
                }
            }
        }
        .carruselImgLink{
            position: relative;
            a{
                position: absolute;
                width: 70px;
                background-color: $white;
                right: 5%;
                bottom: 7%;
                padding: 6px 11px;
                border-radius: 5px;
                font-size: 12px;
            }
        }
    
    }

}


@media only screen and (min-width: 440px) and (max-width: 568px){
    .carrusel-container{
        width: 100%;
        height: auto;
        overflow: hidden;
        margin-bottom: 60px;
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
            }
        }
    
        .carrusel{
            li{
               // position: absolute;
                left: 0;
                top:0;
                opacity: 1;
                width: inherit;
                height: inherit;
                background-color: white;           
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: scale-down;
                    box-shadow: 5px 10px 16px rgba(0,0,0,0.8);
                }
            }
            
        }   
        .carruselImgText{
            position: relative;
            div{
                position: absolute;
                background-color: $white;
                right: 5%;
                bottom: 10%;
                border-radius: 5px;
                border: 3px solid $color1;
                h4{
                    font-size: 12px;
                    margin: 8px;
                }
                a{
                    margin: 5px;
                    padding: 3px;
                    width: 50%;
                    font-size: 11px;
                }
            }
        }
        .carruselImgLink{
            position: relative;
            a{
                position: absolute;
                width: 70px;
                background-color: $white;
                right: 5%;
                bottom: 7%;
                padding: 6px 11px;
                border-radius: 5px;
                font-size: 12px;
            }
        } 
    }

}

@media only screen and (min-width: 568px) and (max-width: 1024px){
    .carrusel-container{
        width: 95%;
        height: auto;
        overflow: hidden;
        margin-bottom: 60px;
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
            }
        }
    
        .carrusel{
            li{
               // position: absolute;
                left: 0;
                top:0;
                opacity: 1;
                width: inherit;
                height: inherit;
                background-color: white;           
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: scale-down;
                }
            }
        }
        .carruselImgText{
            position: relative;
            div{
                position: absolute;
                background-color: $white;
                right: 10%;
                bottom: 10%;
                border-radius: 5px;
                border: 4px solid $color1;
                h4{
                    font-size: 14px;
                    margin: 8px;
                }
                a{
                    margin: 5px;
                    padding: 3px;
                    width: 50%;
                    font-size: 12px;
                }
            }
        }
        .carruselImgLink{
            position: relative;
            a{
                position: absolute;
                width: auto;
                background-color: $white;
                right: 10%;
                bottom: 10%;
                padding: 6px 11px;
                border-radius: 5px;
                font-size: 14px;
            }
        }    
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px){
    .carrusel-container{
        width: 90%;
        height: auto;
        overflow: hidden;
        margin-bottom: 60px;
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
            }
        }
    
        .carrusel{
            li{
               // position: absolute;
                left: 0;
                top:0;
                opacity: 1;
                width: inherit;
                height: inherit;
                background-color: white;           
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: scale-down;
                }
            }
        }
        .carruselImgText{
            position: relative;
            div{
                position: absolute;
                background-color: $white;
                right: 10%;
                bottom: 10%;
                border-radius: 5px;
                border: 4px solid $color1;
                h4{
                    font-size: 16px;
                    margin: 10px;
                }
                a{
                    margin: 7px;
                    padding: 3px;
                    width: 50%;
                    font-size: 14px;
                }
            }
        }
        .carruselImgLink{
            position: relative;
            a{
                position: absolute;
                width: auto;
                background-color: $white;
                right: 10%;
                bottom: 10%;
                padding: 6px 11px;
                border-radius: 5px;
                font-size: 16px;
            }
        }     
    }
}