@import 'styles/theme/theme.scss';

.modal-descripcion{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h3{
        margin: 50px;
    }

    img{
        margin-top: 0px;
        max-height: 70%;
        max-width: 90%;
        object-fit: scale-down;
    }
}

@media only screen and (max-width: 375px){
    .modal-descripcion{
        width: 100%;    
        h3{
            margin: 0px;
            margin-top: 30px;            
        }    
        img{
            width: auto;
            margin-top: 20px;
            height: 120px;
            max-width: 95%;
        }
    }
}

@media only screen and (min-width: 376px)and (max-width: 568px){
    .modal-descripcion{
        width: 100%;    
        h3{
            margin: 0px;
            margin-top: 30px;            
        }    
        img{
            margin-top: 20px;
            height: 140px;
            max-width: 90%;
        }
    }
}

@media only screen and (min-width: 569px)and (max-width: 1024px){
    .modal-descripcion{
        width: 100%;    
        h3{
            margin: 0px;
            margin-top: 30px;            
        }    
        img{
            margin-top: 30px;
            height: 180px;
            max-width: 90%;
        }
    }
}

@media only screen and (min-width: 1025px)and (max-width: 1280px){
    .modal-descripcion{
        width: 40%;
    }
}