@import '../../theme/theme.scss';

.categorias{
    width: 70%;
    flex-wrap: wrap;
    .categoria{
        display: flex;
        flex-wrap: wrap;
        width: auto;
        justify-content: flex-start;
    }
}