@import '../../theme/theme.scss';

.item-ecom{

    width: 180px;
    transition: .2s ease-in-out all;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

    h5{
        height: 30px;
        width: 90%;
        text-align: center;
    }
    img{
        object-fit: scale-down;
        width: 120px;
        height: 110px;
        cursor: pointer;
        transition: .2s ease-in all;
    }

    .botonera{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .contador{
            width: 100%;
            justify-content: space-around;
            display: flex;
            align-items: center;

            p{
                font-size: 1.2rem;
                font-weight: 500;
            }

            button{
                cursor: pointer;
                border: none;
                background-color: transparent;
                font-size: 1.3rem;
                color: $color1;
            }
            button:disabled{
                color: $color2;
            }
        }

        .confirmar{
            cursor: pointer;
            padding: 3px;
            border: none;
            background-color: $color1;
            font-size: 1rem;
            color: $white;
            border-radius: 4px;
            width: 90%;
            transition: .3s ease-in-out all;
        }
        .confirmar:hover{
            opacity: 0.8;
            border-radius: 10px;
        }
        .confirmar:disabled{
            cursor: not-allowed;
            background-color: $color2;
            color: $color1;
        }
    }

}

.item-ecom:hover{

    h5{
        transform: scale(1.1);
    }
    img{
        transform: scale(0.9);
    }

}

@media only screen and (max-width: 568px){
    .item-ecom{

        width: 50%;
        margin-top: 15px;
    
        h5{
            height: 30px;
            font-size: 0.8rem;
        }
        img{
            object-fit: scale-down;
            width: 90px;
            height: 80px;
            cursor: pointer;
            transition: .2s ease-in all;
        }
    
        .botonera{
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
    
            .contador{
                width: 100%;
                justify-content: space-around;
                display: flex;
                align-items: center;
    
                p{
                    font-size: 1.2rem;
                    font-weight: 500;
                }
    
                button{
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
                    font-size: 1.3rem;
                    color: $color1;
                }
                button:disabled{
                    color: $color2;
                }
            }
    
            .confirmar{
                cursor: pointer;
                padding: 3px;
                border: none;
                background-color: $color1;
                font-size: 1rem;
                color: $white;
                border-radius: 4px;
                width: 90%;
                transition: .3s ease-in-out all;
            }
            .confirmar:hover{
                opacity: 0.8;
                border-radius: 10px;
            }
            .confirmar:disabled{
                cursor: not-allowed;
                background-color: $color2;
                color: $color1;
            }
        }
    
    }  
}

@media only screen and (min-width: 569px)and (max-width: 768px){
    .item-ecom{

        width: 30%;
        margin-top: 15px;
    
        h5{
            height: 30px;
            font-size: 0.8rem;
        }
        img{
            object-fit: scale-down;
            width: 90px;
            height: 80px;
            cursor: pointer;
            transition: .2s ease-in all;
        }
    
        .botonera{
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
    
            .contador{
                width: 100%;
                justify-content: space-around;
                display: flex;
                align-items: center;
    
                p{
                    font-size: 1.2rem;
                    font-weight: 500;
                }
    
                button{
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
                    font-size: 1.3rem;
                    color: $color1;
                }
                button:disabled{
                    color: $color2;
                }
            }
    
            .confirmar{
                cursor: pointer;
                padding: 3px;
                border: none;
                background-color: $color1;
                font-size: 1rem;
                color: $white;
                border-radius: 4px;
                width: 90%;
                transition: .3s ease-in-out all;
            }
            .confirmar:hover{
                opacity: 0.8;
                border-radius: 10px;
            }
            .confirmar:disabled{
                cursor: not-allowed;
                background-color: $color2;
                color: $color1;
            }
        }
    
    } 
}