@import 'styles/theme/theme.scss';

.conectores{
    display: flex;
    width: 100%;
    flex-direction: column;
    border-top: 2.5px solid $color1;
    h4{
        font-size: 24px;
        margin: 20px 0;
    }

    .conec-info{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .conector{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 15px;
            margin-bottom: 15px;
            background-color: #f8f8f8;
            border-radius: 12px;
            border: 1.5px solid #d9d9d9;
            h5{
                font-size: 18px;
                margin: 10px;
            }
            img{
                width: 130px;
                height: 110px;
            }
        }
    }
}

@media only screen and (max-width: 440px){
    .conectores{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        border-top: 2.5px solid $color1;
        h4{
            font-size: 18px;
        }
        .conec-info{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            .conector{
                display: flex;
                width: 45%;
                margin-right: 5px;
                margin-bottom: 5px;
                justify-content: space-between;
                h5{
                    font-size: 18px;
                    margin: 0px;
                }
                img{
                    margin-right: 20px;
                    width: 70px;
                    height: auto;
                }
            }
        }
    } 
}

@media only screen and (min-width: 440px) and (max-width: 768px){
    .conectores{
        display: flex;
        width: 100%;
        flex-direction: column;
        border-top: 2.5px solid $color1;
        h4{
            font-size: 18px;
        }    
        .conec-info{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            .conector{
                display: flex;
                width: 30%;
                margin-right: 5px;
                margin-bottom: 5px;
                justify-content: space-between;
                h5{
                    font-size: 18px;
                    margin: 0px;
                }
                img{
                    margin-right: 0px;
                    width: 90px;
                    height: 80px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .conectores{
        display: flex;
        width: 100%;
        flex-direction: column;
        border-top: 2.5px solid $color1;
        h4{
            font-size: 20px;
        }    
        .conec-info{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            .conector{
                display: flex;
                width: 23%;
                margin-right: 5px;
                margin-bottom: 5px;
                h5{
                    font-size: 18px;
                    margin: 0px;
                }
                img{
                    margin-right: 0px;
                    width: 100px;
                    height: 95px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px){
    .conectores{
        display: flex;
        width: 100%;
        flex-direction: column;
        border-top: 2.5px solid $color1;
        h4{
            font-size: 22px;
        }
        .conec-info{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            .conector{
                display: flex;
                justify-content: space-between;
                width: 23%;
                margin-right: 8px;
                margin-bottom: 8px;
                h5{
                    font-size: 18px;
                    margin: 3px;
                }
                img{
                    margin-right: 0px;
                    width: 70%;
                    height: 65%;
                }
            }
        }
    }
}
