@import '../../../theme/theme.scss';

.gases{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 30px;
    padding-top: 30px;
    border-top: 2.5px solid $color1;
    h4{
        font-size: 1.6rem;
    }
    div{
        img{
            margin-right: 20px;
            transform: scale(1.1);
        }
    }
}