@import 'styles/theme/theme.scss';

.modal-conectores{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    p{
        font-weight: 600;
        font-size: 1.1rem;
    }
    .opciones-conectores{
        display: none;
        width: 100%;

        .conector{
            cursor: pointer;
            border: 2px solid transparent;
            border-radius: 5px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            width: 25%;
            align-items: center;
            margin: 5px;
            transition: .2s ease-in all;
            p{
                font-weight: 400;
                font-size: 16px;
            }
        }
        .conector:hover{
            border-color: $color1;
            box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.5);
        }

        img{
            width: 60px;
        }
    }
    .on{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .bloqueado{
        background-color: #ccc;
        opacity: 0.7;
    }
}

@media only screen and (max-width: 375px){
    .modal-conectores{
        margin-bottom: 12px;
        p{
            font-weight: 400;
        }
        .opciones-conectores{
            display: none;
            width: 100%;    
            .conector{
                cursor: pointer;
                border: 2px solid transparent;
                border-radius: 5px;
                padding: 5px;
                display: flex;
                flex-direction: column;
                width: 25%;
                align-items: center;
                margin: 5px;
                transition: .2s ease-in all;
            }
            img{
                width: 50px;
            }
            p{
                font-size: 0.9rem;
            }
        }
        .on{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
    
        .bloqueado{
            background-color: #ccc;
            opacity: 0.7;
        }
    }
}