@import '../../../../../theme/theme.scss';

.modal-rangos{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    p{
        font-weight: 600;
        font-size: 1.1rem;
    }
    .opciones-rangos{
        display: none;
        width: 100%;

        .rango{
            cursor: pointer;
            border: 2px solid transparent;
            border-radius: 5px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            width: 25%;
            align-items: center;
            margin: 5px;
            transition: .2s ease-in all;
        }
        .rango:hover{
            border-color: $color1;
            box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.5);
        }

        img{
            width: 60px;
        }
    }
    .on{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .bloqueado{
        background-color: #ccc;
        opacity: 0.7;
    }
}

@media only screen and (max-width: 375px){
    .modal-rangos{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        p{
            font-weight: 600;
            font-size: 1.1rem;
        }
        .opciones-rangos{
            display: none;
            width: 100%;
    
            .rango{
                cursor: pointer;
                border: 2px solid transparent;
                border-radius: 5px;
                padding: 5px;
                display: flex;
                flex-direction: column;
                width: 20%;
                align-items: center;
                margin: 5px;
                transition: .2s ease-in all;
                p{
                    font-size: 0.9rem;
                }
            }
            .rango:hover{
                border-color: $color1;
                box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.5);
            }
    
            img{
                width: 50px;
            }
        }
        .on{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
    
        .bloqueado{
            background-color: #ccc;
            opacity: 0.7;
        }
    }
}