@import 'styles/theme/theme.scss';
.eleccion-accesorio{
    .acc-selecc-container{
        align-items: center;
        .botonera{
            width: 60%;
            margin-bottom: 15px;
        }
    }
    .modelo-acc-us{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        position: relative;
        .encabezado-acc{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: 2px solid $color1;
            border-radius: 5px;
            margin-right: 5px;
            width: 280px;
            p{
                margin-left: 3px;
                font-size: 14px;
                font-weight: 600;
            }
            svg{
                font-size: 1.5rem;
            }
        }
        .opciones-accesorios{
            display: none;
            top: 90px;
            width: 280px;
            height: 300px;
            overflow: scroll;
            position: absolute;
            background-color: $white;
            border: 2px solid $color1;
            overflow-x: hidden;
            box-shadow: 8px 10px 7px #bebebe;
            .modal-modelo{
                cursor: pointer;
                border: 1px solid transparent;
                border-bottom: 1px solid #d9d9d9;
                display: flex;
                justify-content: space-around;
                width: 100%;
                align-items: center;
                transition: .2s ease-in all;
                p{
                    font-weight: 600;
                    font-size: 14px;
                }
            }
            .modal-modelo:hover{
                border-color: $color1;
                box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.5);
            }
            img{
                width: 60px;
                height: 60px;
            }
            button{
                border-radius: 5px;
                border: none;
                background-color: transparent;
                color: $color1;
                font-size: 18px;
            }
        }
        .on{
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 10;
        }
        img{
            width: 80px;
            height: 80px;
            cursor: default;
            object-fit: scale-down;
        }
    }
    .acc-btn-comprar{
        background-color: $color1;
        color: $white;
        border: none;
        padding: 8px;
        border-radius: 10px;
        font-size: 14px;
        cursor: pointer;
        transition: .2s ease-in all;
        margin-bottom: 15px;
    }
    .acc-btn-comprar:hover{
        padding:8px 5px;
    }
    .notificacion{
        display: none;
    }
    .noti-on{
        display: flex;
        position: absolute;
        bottom: 0;
        background-color: $color2;
        padding: 0 15px;
        right: 10px;
        border-radius: 10px;
        animation: noti 1s ease-in-out;
        font-size: 12px;
        color: $black;
    }
}

@media only screen and (max-width: 420px){
    .eleccion-accesorio{
        .modelo-acc-us{
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .encabezado-acc{
                margin-right: 0px;
                width: 100%;
                img{
                    width: 50px;
                    height: 50px;
                }
                p{
                    font-size: 12px;
                    width: 60%;
                }
                svg{
                    font-size: 22px;
                }
            }
            .opciones-accesorios{
                top: 55px;
                width: 100%;
                height: 240px;
                box-shadow: 8px 10px 15px #bebebe;
                flex-direction: column; 
                .modal-modelo{
                    cursor: pointer;
                    img{
                        width: 40px;
                        height: 50px;
                    }
                    p{
                        font-size: 13px;
                    }
                    button{
                        font-size: 16px;
                    }
                }
            }
            .on{
                display: flex;
                z-index: 10;
            }
        }
        .acc-btn-comprar{
            background-color: $color1;
            color: $white;
            border: none;
            padding: 8px;
            border-radius: 10px;
            font-size: 14px;
            cursor: pointer;
            transition: .2s ease-in all;
            margin-bottom: 15px;
        }
        .acc-btn-comprar:hover{
            padding:8px 5px;
        }
        .notificacion{
            display: none;
        }
        .noti-on{
            display: flex;
            position: absolute;
            bottom: 0;
            background-color: $color2;
            padding: 0 15px;
            right: 10px;
            border-radius: 10px;
            animation: noti 1s ease-in-out;
            font-size: 12px;
            color: $black;
        }
    }
}

@media only screen and (min-width: 421px)and (max-width: 600px){
    .eleccion-accesorio{
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
        width: 85%;
        .acc-selecc-container{
            align-items: center;
        }
        .modelo-acc-us{
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .encabezado-acc{
                margin-right: 0px;
                width: 100%;
                img{
                    width: 55px;
                    height: 55px;
                }
                p{
                    font-size: 13px;
                }
                svg{
                    font-size: 22px;
                }
            }
            .opciones-accesorios{
                top: 62px;
                width: 100%;
                height: 180px;
                box-shadow: 8px 10px 17px #bebebe;
                flex-direction: column;
                .modal-modelo{
                    img{
                        width: 50px;
                    }
                    p{
                        font-size: 12px;
                    }
                    button{
                        font-size: 16px;
                    }
                }
            }
            .on{
                display: flex;
                z-index: 10;
            }
        }
        .acc-btn-comprar{
            background-color: $color1;
            color: $white;
            border: none;
            padding: 6px;
            border-radius: 8px;
            font-size: 14px;
            cursor: pointer;
            transition: .2s ease-in all;
            margin-bottom: 15px;
        }
        .acc-btn-comprar:hover{
            padding:6px 5px;
        }
        .notificacion{
            display: none;
        }
        .noti-on{
            display: flex;
            position: absolute;
            bottom: 0;
            background-color: $color2;
            padding: 0 15px;
            right: 10px;
            border-radius: 10px;
            animation: noti 1s ease-in-out;
            font-size: 12px;
            color: $black;
        }
    }
}
@media only screen and (min-width: 601px)and (max-width: 800px){
    .eleccion-accesorio{
        margin-top: 20px;
        align-items: start;
        width: 100%;
        .acc-selecc-container{
            align-items: center;
        }
        .modelo-acc-us{
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            width: 100%;
            .encabezado-acc{
                margin-right: 0px;
                width: 90%;
                img{
                    width: 65px;
                    height: 55px;
                }
                p{
                    font-size: 13px;
                }
                svg{
                    font-size: 22px;
                }
            }
            .opciones-accesorios{
                top: 63px;
                width: 90%;
                height: 210px;
                box-shadow: 8px 10px 17px #bebebe;
                flex-direction: column;
                .modal-modelo{
                    img{
                        width: 50px;
                    }
                    p{
                        font-size: 12px;
                    }
                    button{
                        font-size: 16px;
                    }
                }
            }
            .on{
                display: flex;
                z-index: 10;
            }
        }
        .acc-btn-comprar{
            background-color: $color1;
            color: $white;
            border: none;
            padding: 6px;
            border-radius: 8px;
            font-size: 14px;
            cursor: pointer;
            transition: .2s ease-in all;
            margin-bottom: 15px;
        }
        .acc-btn-comprar:hover{
            padding:6px 5px;
        }
        .notificacion{
            display: none;
        }
        .noti-on{
            display: flex;
            position: absolute;
            bottom: 0;
            background-color: $color2;
            padding: 0 15px;
            right: 10px;
            border-radius: 10px;
            animation: noti 1s ease-in-out;
            font-size: 12px;
            color: $black;
        }
    } 
}
@media only screen and (min-width: 801px)and (max-width: 1024px){
    .eleccion-accesorio{
        margin-top: 20px;
        align-items: start;
        width: 100%;
        .acc-selecc-container{
            align-items: center;
            .botonera{
                width: 80%;
                margin-bottom: 15px;
            }
        }
        .modelo-acc-us{
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            width: 100%;
            .encabezado-acc{
                margin-right: 0px;
                width: 90%;
                img{
                    width: 35%;
                    height: 55px;
                }
                p{
                    width: 45%;
                    font-size: 13px;
                }
                svg{
                    font-size: 22px;
                }
            }
            .opciones-accesorios{
                top: 60px;
                width: 230px;
                height: 215px;
                box-shadow: 8px 10px 17px #bebebe;
                flex-direction: column;
                .modal-modelo{
                    img{
                        width: 50px;
                    }
                    p{
                        font-size: 12px;
                    }
                    button{
                        font-size: 16px;
                    }
                }
            }
            .on{
                display: flex;
                z-index: 10;
            }
        }
        .acc-btn-comprar{
            background-color: $color1;
            color: $white;
            border: none;
            padding: 6px;
            border-radius: 8px;
            font-size: 14px;
            cursor: pointer;
            transition: .2s ease-in all;
            margin-bottom: 15px;
        }
        .acc-btn-comprar:hover{
            padding:6px 5px;
        }
        .notificacion{
            display: none;
        }
        .noti-on{
            display: flex;
            position: absolute;
            bottom: 0;
            background-color: $color2;
            padding: 0 15px;
            right: 10px;
            border-radius: 10px;
            animation: noti 1s ease-in-out;
            font-size: 12px;
            color: $black;
        }
    } 
}
@media only screen and (min-width: 1025px)and (max-width: 1280px){
    .eleccion-accesorio{
        margin-top: 20px;
        align-items: start;
        width: 100%;
        .acc-selecc-container{
            align-items: center;
            .botonera{
                width: 80%;
                margin-bottom: 15px;
            }
        }
        .modelo-acc-us{
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            width: 100%;
            .encabezado-acc{
                margin-right: 0px;
                width: 90%;
                img{
                    width: 35%;
                    height: 55px;
                }
                p{
                    width: 45%;
                    font-size: 13px;
                }
                svg{
                    font-size: 22px;
                }
            }
            .opciones-accesorios{
                top: 60px;
                width: 250px;
                height: 230px;
                box-shadow: 8px 10px 17px #bebebe;
                flex-direction: column;
                .modal-modelo{
                    img{
                        width: 50px;
                    }
                    p{
                        font-size: 12px;
                    }
                    button{
                        font-size: 16px;
                    }
                }
            }
            .on{
                display: flex;
                z-index: 10;
            }
        }
        .acc-btn-comprar{
            background-color: $color1;
            color: $white;
            border: none;
            padding: 6px;
            border-radius: 8px;
            font-size: 14px;
            cursor: pointer;
            transition: .2s ease-in all;
            margin-bottom: 15px;
        }
        .acc-btn-comprar:hover{
            padding:6px 5px;
        }
        .notificacion{
            display: none;
        }
        .noti-on{
            display: flex;
            position: absolute;
            bottom: 0;
            background-color: $color2;
            padding: 0 15px;
            right: 10px;
            border-radius: 10px;
            animation: noti 1s ease-in-out;
            font-size: 12px;
            color: $black;
        }
    } 
}
@media only screen and (min-width: 1281px)and (max-width: 1440px){
    .eleccion-accesorio{
        margin-top: 20px;
        align-items: start;
        width: 100%;
        .acc-selecc-container{
            align-items: center;
            .botonera{
                width: 60%;
                margin-bottom: 15px;
            }
        }
        .modelo-acc-us{
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            width: 100%;
            .encabezado-acc{
                margin-right: 0px;
                width: 90%;
                img{
                    width: 35%;
                    height: 55px;
                }
                p{
                    width: 45%;
                    font-size: 13px;
                }
                svg{
                    font-size: 22px;
                }
            }
            .opciones-accesorios{
                top: 63px;
                width: 250;
                height: 250px;
                box-shadow: 8px 10px 17px #bebebe;
                flex-direction: column;
                .modal-modelo{
                    img{
                        width: 50px;
                    }
                    p{
                        font-size: 12px;
                    }
                    button{
                        font-size: 16px;
                    }
                }
            }
            .on{
                display: flex;
                z-index: 10;
            }
        }
        .acc-btn-comprar{
            background-color: $color1;
            color: $white;
            border: none;
            padding: 6px;
            border-radius: 8px;
            font-size: 14px;
            cursor: pointer;
            transition: .2s ease-in all;
            margin-bottom: 15px;
        }
        .acc-btn-comprar:hover{
            padding:6px 5px;
        }
        .notificacion{
            display: none;
        }
        .noti-on{
            display: flex;
            position: absolute;
            bottom: 0;
            background-color: $color2;
            padding: 0 15px;
            right: 10px;
            border-radius: 10px;
            animation: noti 1s ease-in-out;
            font-size: 12px;
            color: $black;
        }
    } 
}